FRONTEND_URL=http://localhost:8081,http://localhost:8080
API_URL=http://139.59.123.89:5000/
APP_NAME=Elearning
UPLOADED_FILES_DESTINATION=uploads
APP_PORT=5000
CLIENT_PORT=8081

DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=ttlab
DB_NAME=elearning2020

EMAIL_ID=ducnl@tokyotechlab.com
EMAIL_PASS=hgrbwxysawfhumns
EMAIL_HOST=imap.gmail.com
EMAIL_PORT=465

CLIENT_ID=396680489140-r2mkaphbug6d876cvd0l70996iimsphd.apps.googleusercontent.com
CLIENT_SECRET=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

ELASTICSEARCH_NODE=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=ttlab

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=1s6ybIWw2r5E9PMvtXrHaY4wPRCNP8Xf

STRIPE_API_KEY=sk_test_51LyHkTH1BtfLIBkLfKm1vWCzInEVf6MOv9YTe3On8FYSbULVPp0yqigroin1rDx7rB0wLyNKLP9aMipQPCX6lxju00TiN3n8PP

ELASTICSEARCH_NODEz=https://elearningz.es.us-central1.gcp.cloud.es.io
ELASTICSEARCH_USERNAMEz=elastic
ELASTICSEARCH_PASSWORDz=vT8c3FiTtLCtbklYGlzMle66