# Set URL for your scoped packages.
@ttlab-packages:registry=https://gitlab.com/api/v4/projects/37197137/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-zYzzgZC7ckdsss1HyU1S

# Add token for uploading to the registry. Replace <your_project_id>
# //gitlab.com/api/v4/projects/<your_project_id>/packages/npm/:_authToken=${CI_JOB_TOKEN}

//gitlab.com/api/v4/projects/37197137/packages/npm/:_authToken=glpat-zYzzgZC7ckdsss1HyU1S

