<html>

  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>That email was send from NestJS MailerApp</title>
  </head>

  <body class=''>
    <p>Hey {{name}},</p>
    <p>Please click below to confirm your email</p>
    <p>
      <a href='{{url}}'>Confirm</a>
    </p>
    <p>If you did not request this email you can safely ignore it.</p>

  </body>

</html>